@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,800');


[data-flexbox="flex"]
{
    display: flex;
    flex-flow: row;
    align-items: center;
}
body
{
    font-family: 'Open Sans', sans-serif !important;
    background-color: #f2f2f2;
    color: #43525A;
}
ul.nav
{
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
ul.nav
li
{
    padding: 0.5em 1em 0.5em 1em;
}

ul.nav
li
a.dropdown
{
    border-left-style: solid;
    border-left-color: #43525A;
    border-left-width: 0.03em;
}

ul.nav
li
a
{
    display: block;
    color: #43525A !important;
    font-size: 0.7em;
    text-decoration: none;
    border-bottom-width: 0.2em;
    border-bottom-style:  solid;
    border-color: transparent;
}

ul.nav
li
a.enfasis
{
    font-weight: 800;
    border-bottom-width: 0.2em;
    border-bottom-style:  solid;
    border-color: #28A5BE;
}

ul.nav
li
a
i
{
    display: block;
    font-size: 2em;
    padding-left: 0.7em;
}

.row.row-header
{
    padding: 0.2em;
}

.row-showcase
{
    background-image: url('../images/hero-new-desk--cut.cb44eae5.png');
    background-size: cover;
    background-position-x: 30em;
    background-repeat: no-repeat;
    padding: 10em 1em 10em 1em;
}

button 
{
    color:#fff;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #2D2D2D;
    border:0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
button:focus{
    outline: 0;
    box-sizing: border-box;
}


.container-buttons
button:nth-child(1)
{
    top:0.5em;
    background-color: #28A5BE;
    transform: scale(1.1);
    padding: 1em 1.5em 1em 1.5em;
    transition: all 0.2s ease;
    z-index: 1000;
}

.container-buttons
button:nth-child(2)
{
    padding: 0.5em 1.8em 0.5em 3em;
    transition: all 0.2s ease;
    z-index: 500;
}

.container-buttons
button:nth-child(1):hover
{
    transform: scale(1.2);
}
.container-buttons
button:nth-child(2):hover
{
    transform: translateX(0.5em);
}

.row.main-one
.col:nth-child(1)
{
    background-image: url('../images/fotka-surface-modules-02.ce649369.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.row.main-one
.col:nth-child(2)
{
    background-color: #fff;
    padding: 8em 4em 8em 4em;
}
.row.main-one
span
{
    display: block;
    font-size: 0.9em;
    text-align: justify;
}
.row.main-one
button
{
    margin-top: 2em;
    width: 16em;
    transition: all 0.2s ease;
    font-size: 0.8em;
}
.row.main-one
button:hover
{
    width: 17em;
}

.super-practical
{
    padding: 1em;
}
.super-practical
span
{
    display: block;
    font-size: 0.9em;
    text-align: center;
}
.row.main-two
{
    padding: 4em;
}

.row.main-two
> .container-fluid
.row:nth-child(2)
h2
{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 1.5em 0em 1.5em 0em;
}

.row.main-two
> .container-fluid
.row:nth-child(2)
span
{
    text-align: center;
    font-size: 0.9em;
}

.row.main-two
> .container-fluid
.row:nth-child(2)
{
    padding-top: 2em;
}

.row.main-three
{
    background-image: url('../images/modulos-4x2conf.cbb371ed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 37em;
    position: relative;
}

.row.main-three
> .col
{
    position: relative;
}
.row.main-three
> .col
button.fab
{
    color: #43525A;
    background-color: #fff;
    position: absolute;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    font-size: 1.1em;
    transition: all 0.2s ease;
    transform: rotate(0deg);
}
.row.main-three
> .col
button.fab:nth-child(1)
{
    bottom: 2em;
    left: 2em;
}
.row.main-three
> .col
button.fab:nth-child(2)
{
    bottom: 13em;
    left: 15em;
}
.row.main-three
> .col
button.fab:nth-child(3)
{
    bottom: 10em;
    left: 52em;
}
.row.main-three
> .col
button.fab:nth-child(4)
{
    bottom: 6em;
    left: 56em;
}

.row.main-three
> .col
button.fab:hover
{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    transform: rotate(20deg);
}

.row.main-three
> .col
.over-content
{
    position: relative;
    margin:0 auto;
    max-width: 80%;
    background-color: #FFF;
    min-height: 20em;
    top:32em;
    padding: 3em;
}

.row.main-three
> .col
.over-content
h1
{
    font-size: 1.8em;
}

.row.main-three
> .col
.over-content
span
{
    font-size: 0.8em;
    text-align: center;
}

.img-in-over-content
{
    background-image: url('../images/descarga.jpg');
    background-repeat: repeat;
    background-size: 4em;
    background-origin: border-box;
    width: 15em;
    height: 9em;
    margin-top: 2em;
}

.button-charts
{
    padding: 2em;
}

.button-charts
button.chart
{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: transparent;
    color:#000;
    text-align: center;
    border:0.2em solid #000;
}

.button-charts
button.chart.chart-high
{
    border-color: #28A5BE;
    color: #28A5BE;
}

.button-charts
span
{
    display: block;
    margin-top: 1em;
}


.main-four
{
    margin-top: 35em;
}

.main-four
.col:nth-child(2)
div
h1
{
    font-size: 1.8em;
    text-align: center;
    font-weight: 500;
}

.main-four
.col:nth-child(2)
div
span
{
    padding-top: 3em;
    font-size: 0.8em;
    text-align: center;
    font-weight: 500;
    display: block;
}


.main-four
.col:nth-child(1)
{
    padding-left: 0;  
}
.main-four
.col:nth-child(3)
{

    padding-right: 0;
}

.sideleft,
.sideright
{
    display: block;
    width: 100%;
    height: 25em;
}

.sideleft
{
    background-image: url('../images/module-cabling-hole--aeon.ee835ce4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 450%;
    transition: all 0.5s ease;
}
.sideright
{
    background-image: url('../images/module-cabling-hole--heritage.64bc524e.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -350%;
    transition: all 0.5s ease;
}

.main-four:hover
.sideleft
{
    background-position: 350%;
}

.main-four:hover
.sideright
{
    background-position: -250%;
}

.ctn-btn--learn-more
{
    margin-top: 2em;
}

.ctn-btn--learn-more
button
{
    background-color: transparent;
    color:#28A5BE;
    border: 0.1em solid #28A5BE;
    display: block;
    transition: all 0.3s ease;
}

.ctn-btn--learn-more
button:hover
{
    background-color: #28A5BE;
    color:#fff;
}


.main-five
{
    background-image: linear-gradient(-90deg, #1BA5C0 0%, #0C6B8C 100%);

    margin-top: 6em;
    height: 33em;
}

.main-five
.col:nth-child(1)
> div
{
    height: 100%;
}

.main-five
h1, .main-five
span
{
    color: #fff;
    display: block;
    padding-bottom: 2em;
}

.main-five
.bg-right-mr
{
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('../images/configurator-promo.b94388e3.png');
    background-position: -5%;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-six
{
    margin-top: 3em;
    padding: 1em;
}

.main-six
h1, .main-six span
{
    display: block;
}

.main-six
h1
{
    font-size: 1.9em;
}
.main-six
span
{
    font-size: 0.9em;
    text-align: justify;
}

.main-six
.col
span + span
{
    padding-top: 1em;
    color:#28A5BE;
    font-weight: 400;
    font-size: 1.1em;
}
.main-six
.col
span + span + div
{
    padding-top: 1em;
}
.main-six
.col
span +
span + 
div >
form
input
{
    padding: 0.41em;
    width: 25em;
}

.main-six
.col
span +
span + 
div >
form
button
{
    background-color:#28A5BE;
}

.main-seven
{
    margin-top: 6em;
}

.main-seven
.col:nth-child(1)
img
{
    width: 100%;
    height: 100%;
}

.main-seven
.col:nth-child(2)
img
{
    width: 100%;
    height: 100%;
}
.main-seven
.col:nth-child(2)
.container-fluid
{
    height: 100%;
}

.main-seven
.col:nth-child(2)
.container-fluid
.row
{
    height: 50%;
}
.fix-height
{
    padding-top: 2em;
}

.main-eight
{
    background-color: #BEEADF;
    color: #43525A;
    height: 35em;
    margin-top: 5em;
}
.main-eight
.container
{
    background-image: url('../images/environmentally-responsible.70f9b2b1.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-eight
.container
.row
{
    padding-top: 5em;
}
.main-eight
.container
.row
h1
{
    font-size: 1.9em;
    text-align: center;
    font-weight: 400;
}
.main-eight
.container
.row
span
{
    font-size: 0.9em;
    text-align: center;
    display: block;
    font-weight: 400;
}
.footer
{
    margin-top: 1.5em;
    padding: 3em;
}

.footer
.nav-footer
{
    list-style: none;
    padding: 0;
}
.footer
.nav-footer
li:nth-child(1)
{
    font-size: 0.8em;
    padding-bottom: 1em;
}

.footer
.row
.col
span
{
    font-size: 0.8em;
    text-align: center;
    display: block;
    padding: 3em;
    color: #6f8794;
}
.footer
.row:nth-child(3)
.col
span
{
    padding: 0em;

}

.footer
.row:nth-child(4)
.col
img
{
    width: 10em;
    height: 5em;
}